@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background-color: #00000000;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background-color: #6e87de;
  border-radius: 30px;
}
* {
  font-family: "Nunito", sans-serif;
  scrollbar-color: #6e87de #00000000;
}
html,
body {
  overflow-y: auto;
}
body {
  position: relative;
}
main {
  overflow-x: scroll;
}